@use "~sass-rem" as rem;
.main{
  .containerMain{
    z-index: 1;
    background: var(--opacity-white);
    text-align: center;
    margin: 13vh auto 0;
    width: 50%;
    padding: 100px 0 100px 0;
    h1{
      font-size: rem.convert(104px);
    }

    p{
      font-size: rem.convert(77px);
      font-weight: 600;
      text-transform: uppercase;
      color: var(--brand-color);
    }

    button{
      color: var(--body-color);
      background: var(--white-color);
      text-transform: uppercase;
      font-size: rem.convert(38px);
      border: none;
      margin: 25px 0 0px 0;
      padding: 10px 20px;
      cursor:pointer;
    }

    button:hover{
      color: var(--brand-color);
      transition: all 0.5s;
    }
  }
}

@media (max-width: 1230px){
  .main{
    .containerMain{
      width: 56%;
      h1{
        font-size: rem.convert(94px);
      }
  
      p{
        font-size: rem.convert(69px);
      }
  
      button{
        font-size: rem.convert(34px);
      }
    }
  }
}
@media (max-width: 991px){
  .main{
    .containerMain{
      h1{
        font-size: rem.convert(75px);
      }
  
      p{
        font-size: rem.convert(55px);
      }
  
      button{
        font-size: rem.convert(27px);
      }
    }
  }
}
@media (max-width: 771px){
  .main{
    .containerMain{
      padding: 70px 0 70px 0;
      h1{
        font-size: rem.convert(60px);
      }
  
      p{
        font-size: rem.convert(44px);
        padding: 0 5px;
      }
  
      button{
        font-size: rem.convert(22px);
      }
    }
  }
}
@media (max-width: 551px){
  .main{
    .containerMain{
      h1{
        font-size: rem.convert(48px);
      }
  
      p{
        font-size: rem.convert(35px);
        padding: 0 5px;
      }
  
      button{
        font-size: rem.convert(18px);
        margin: 20px 0 0;
        padding: 5px 10px;
      }
    }
  }
}
@media (max-width: 320px){
  .main{
    .containerMain{
      h1{
        font-size: rem.convert(40px);
      }
  
      p{
        font-size: rem.convert(32px);
      }
  
      button{
        font-size: rem.convert(16px);
      }
    }
  }
}