@use "~sass-rem" as rem;

.tradition{
  max-width: 95%;
  margin:70px auto;
  color: var(--white-color);
  .traditionContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;

    h2{
      font-size: rem.convert(29px);
      font-family: 'Raleway';
      font-weight: 600;
      margin-bottom: rem.convert(50px);
    }

    p{
      font-size: rem.convert(19px);
      font-weight: 400;
      line-height: 1.7;
    }

    .wrapper{
      flex-basis: 45%;
      img{
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 771px){
  .tradition{
    max-width: 90%;
    text-align: center;
    .traditionContainer{
      display:block;
      h2{
        margin-bottom: rem.convert(40px);
        font-size: rem.convert(23px);
      }
      .wrapper{
        img{
          margin:8% auto 0;
        }
      }
    }
  }
}
@media (max-width: 551px){
  .tradition{
    .traditionContainer{
      h2{
        margin-bottom: rem.convert(36px);
      }
      p{
        font-size: rem.convert(15px);
      }

      .wrapper{
        img{
          margin:8% auto 0;
        }
      }
    }
  }
}