@use "~sass-rem" as rem;

.header {
  background-image: url(../../ui/images/header-pic-1440-1000.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 1000px;
  margin: 0 auto;
  padding-bottom: 10%;
  .headerContainer {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    height: 40px;
    display:flex;
    justify-content: space-between;
    a{
      color: var(--opacity-white);
      font-size: rem.convert(35px);
      text-transform: uppercase;
      display:block;
    }
    a:hover{
      color: var(--brand-color);
      font-size: rem.convert(36px);
      transition: all 0.5s;
      
    }
    .burger{
      display:none;
    }
  }
}

@media (max-width: 991px){
  .header {
    .headerContainer {
      align-items: center;
      a{
        font-size: rem.convert(30px);
      }
      .burger{
        display:block;
        position:relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        align-items: center;
        span{
          display:block;
          width: 30px;
          height: 3px;
          margin-top: 8px;
          background: var(--opacity-white);
        }
        span:after{
          content: '';
          position:absolute;
          display:block;
          width: 30px;
          height: 3px;
          bottom:0;
          background: var(--opacity-white);
        }
        span:before{
          content: '';
          position:absolute;
          display:block;
          width: 30px;
          height: 3px;
          background: var(--opacity-white);
          top:0;
        }
      }
    }
  }
}
@media (max-width: 771px){
  .header {
    padding-bottom: 10%;
    .headerContainer {
      padding-top: 40px;
      a{
        font-size: rem.convert(28px);
      }
    }
  }
}
@media (max-width: 551px){
  .header {
    padding-bottom: 25%;
    .headerContainer {
      padding-top: 30px;
      a{
        font-size: rem.convert(22px);
      }
    }
  }
}

